<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Swan-User</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <!-- <link href="{{url_for('static',filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/simple-datatables/style.css')}}" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center" style="background-color:#d9d9d9;">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{url_for('index')}}" class="logo d-flex align-items-center">
        <img src="static/img/swan.svg" alt="">
        <span class="d-none d-lg-block">Swan</span>
      </a>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="{{url_for('find_post')}}">
        <input type="text" name="post_name"
         placeholder="Handle" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
      <!-- <img src="static/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
      <span class="d-none d-md-block dropdown-toggle ps-2">Account</span>
    </a><!-- End Profile Image Icon -->

    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" >
      <li>
        <a class="dropdown-item d-flex align-items-center" href="{{url_for('profile',user_id=session['id'])}}">
          <i class="bi bi-person"></i>
          <span>My Profile</span>
        </a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>

      <li>
        <a class="dropdown-item d-flex align-items-center" href="{{url_for('setting',user_id=session['id'])}}">
          <i class="bi bi-gear"></i>
          <span>Account Settings</span>
        </a>
      </li>

      <hr class="dropdown-divider">
      </li>

      <li>
        <a class="dropdown-item d-flex align-items-center" href="{{url_for('logout')}}">
          <i class="bi bi-box-arrow-right"></i>
          <span>Sign Out</span>
        </a>
      </li>

    </ul><!-- End Profile Dropdown Items -->
    </li><!-- End Profile Nav -->

    </ul>
    <i class="bi bi-list toggle-sidebar-btn" style="right: 2rem; position: absolute;"></i>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" style="background-color: #EBEAEA;">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('index')}}" style="background-color:#2596BE; color: #2596BE;">
          <i class="bi bi-person" style="color :#EBEAEA;"></i>
          <span style="color: #EBEAEA;">Home</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('otherprofile', titu='education')}}" style="background-color:#2596BE; color: #2596BE;">
          <i class="bi bi-question-circle" style="color: #EBEAEA;"></i>
          <span style="color: #EBEAEA;">Education</span>
        </a>
      </li><!-- End SideBar Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('otherprofile', titu='sports')}}" style="background-color:#2596BE; color: #2596BE;">
          <i class="bi bi-question-circle" style="color: #EBEAEA;"></i>
          <span style="color: #EBEAEA;">Sports</span>
        </a>
      </li><!-- End SideBar Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('otherprofile', titu='business')}}" style="background-color:#2596BE; color: #2596BE;">
          <i class="bi bi-question-circle" style="color: #EBEAEA;"></i>
          <span style="color: #EBEAEA;">Business</span>
        </a>
      </li><!-- End SideBar Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('otherprofile', titu='others')}}" style="background-color:#2596BE; color: #2596BE;">
          <i class="bi bi-question-circle" style="color: #EBEAEA;"></i>
          <span style="color: #EBEAEA;">Others</span>
        </a>
      </li><!-- End SideBar Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main" style="background-color: #f3abd4;">

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">

          <div class="row">
                    <!-- Posts -->
                    <div class="col-12">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">{{username}} 
                              <form method="POST"  action="{{url_for('profile',user_id=pt)}}">
                                <button type="submit" class="rounded-pill"
                                style="background-color: #c774e8; border: 0; color: white; width: 10rem;">Add Friend</button>
                              </form>
                              </h5>
                          </div>
                        </div>
                      </div><!-- End Posts -->

            {% for p in posts %}
            <!-- Posts -->
            <div class="col-12">
              <div class="card">


                <div class="card-body">
                  <h5 class="card-title"><a href="{{url_for('singlepost', post_id=p.post_id)}}">{{p.postname}}</a></h5>
                  <!-- Text area -->
                  <div>
                    {{p.datas}}
                  </div>
                  <!-- Img Area -->
                  {% if p.image_path %}
                  <img src="{{ url_for('static',filename=p.image_path) }}" alt="" style="width: 70%;">
                  {% endif %}
               
                  <!-- Comments Area -->
                  <section class="gradient-custom">
                          <div class="card" style="overflow: auto; height: 10rem;">
                            <div class="card-body p-4 w-100">
                              <h4 class="text-center mb-4 pb-2"><a href="{{url_for('singlepost', post_id=p.post_id)}}">Comments</a></h4>
                              <div class="row">
                                <div class="col">
                                  {% for c in comments %}
                                    {% if c.post_id == p.post_id %}
                                  <div class="d-flex flex-start">
                                    {% if c.profile %}
                                
                                    <img class="rounded-circle shadow-1-strong me-3" src="{{ url_for('static',filename=c.profile)}}" 
                                      width="65" height="65" />
    
                                    {% else %}
    
                                    <img class="rounded-circle shadow-1-strong me-3" src="{{url_for('static',filename='img/swan.svg')}}" alt="avatar"
                                      width="65" height="65" />
    
                                    {% endif %}
                                    <div class="flex-grow-1 flex-shrink-1">
                                      <div>
                                        <div class="d-flex justify-content-between align-items-center">
                                          <p class="mb-1"><a href="{{url_for('profile',user_id=c.user_id)}}">
                                            {{c.username}} </a><span class="small">- 4 hours ago</span>
                                          </p>
                                          <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small">
                                            reply</span></a>
                                        </div>
                                        <p class="small mb-0">
                                          {{c.Datas}}
                                        </p>
                                      </div>
                                    </div>
                                    </div>
                                  {% endif %}
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                      </div>
                  </section>
                </div>
              </div>
            </div><!-- End Posts -->
            {% endfor %}
     
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">
           <!-- Posts -->
           <div class="col-12 sticky-dummy">
            <div class="card" style="overflow: auto; height:25rem;">
              <div class="card-body">
                <h5 class="card-title">Communities</h5>
              </div>
               <!-- Posts -->
            {% for i in comuser %}
            <div class="col-12 sticky-dummy">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{{url_for('singlecommunity',community_id = i.community_id)}}">{{i.communityname}}</a></h5>
                  </div>
                </div>
              </div><!-- End Posts -->
            {% endfor %}
           
     
      
            </div>
          </div><!-- End Posts --> <!-- Posts -->
          
        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>UpperMoon</span>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- <script src="{{url_for('static',filename='vendor/apexcharts/apexcharts.min.js')}}"></script> -->
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <!-- <script src="{{url_for('static',filename='vendor/chart.js/chart.umd.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/quill/quill.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/tinymce/tinymce.min.js')}}"></script> -->
  <script src="{{url_for('static',filename='vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename='js/main.js')}}"></script>


  {% with messages = get_flashed_messages() %}  
  {% if messages %}  
        {% for message in messages %}  
             <script>
               alert("{{message}}");
             </script>
        {% endfor %}  
  {% endif %}  
{% endwith %}  

</body>

</html>