<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Swan-UserSetting</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <!-- <link href="{{url_for('static',filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/simple-datatables/style.css')}}" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center" style="background-color:#d9d9d9;">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{url_for('index')}}" class="logo d-flex align-items-center">
        <img src="static/img/swan.svg" alt="">
        <span class="d-none d-lg-block">Swan</span>
      </a>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="{{url_for('find_post')}}">
        <input type="text" name="post_name"
         placeholder="Handle" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
      <!-- <img src="static/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
      <span class="d-none d-md-block dropdown-toggle ps-2">Account</span>
    </a><!-- End Profile Image Icon -->

    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" >
      <li>
        <a class="dropdown-item d-flex align-items-center" href="{{url_for('profile',user_id=session['id'])}}">
          <i class="bi bi-person"></i>
          <span>My Profile</span>
        </a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>

      <li>
        <a class="dropdown-item d-flex align-items-center" href="{{url_for('setting',user_id=session['id'])}}">
          <i class="bi bi-gear"></i>
          <span>Account Settings</span>
        </a>
      </li>

      <hr class="dropdown-divider">
      </li>

      <li>
        <a class="dropdown-item d-flex align-items-center" href="{{url_for('logout')}}">
          <i class="bi bi-box-arrow-right"></i>
          <span>Sign Out</span>
        </a>
      </li>

    </ul><!-- End Profile Dropdown Items -->
    </li><!-- End Profile Nav -->

    </ul>
    <i class="bi bi-list toggle-sidebar-btn" style="right: 2rem; position: absolute;"></i>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" style="background-color: #EBEAEA;">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('index')}}" style="background-color:#2596BE; color: #2596BE;">
          <i class="bi bi-person" style="color :#EBEAEA;"></i>
          <span style="color: #EBEAEA;">Home</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('otherprofile', titu='education')}}" style="background-color:#2596BE; color: #2596BE;">
          <i class="bi bi-question-circle" style="color: #EBEAEA;"></i>
          <span style="color: #EBEAEA;">Education</span>
        </a>
      </li><!-- End SideBar Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('otherprofile', titu='sports')}}" style="background-color:#2596BE; color: #2596BE;">
          <i class="bi bi-question-circle" style="color: #EBEAEA;"></i>
          <span style="color: #EBEAEA;">Sports</span>
        </a>
      </li><!-- End SideBar Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('otherprofile', titu='business')}}" style="background-color:#2596BE; color: #2596BE;">
          <i class="bi bi-question-circle" style="color: #EBEAEA;"></i>
          <span style="color: #EBEAEA;">Business</span>
        </a>
      </li><!-- End SideBar Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('otherprofile', titu='others')}}" style="background-color:#2596BE; color: #2596BE;">
          <i class="bi bi-question-circle" style="color: #EBEAEA;"></i>
          <span style="color: #EBEAEA;">Others</span>
        </a>
      </li><!-- End SideBar Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main" style="background-color: #f3abd4;">

        <div class="pagetitle">
            <h1>Settings</h1>
        </div><!-- End Page Title -->

        <section class="section profile">
       
            <div class="row-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                                    Profile</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#profile-change-password">Change Password</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form method="POST" action="{{url_for('editprofile',user_id=session['id'])}}" enctype="multipart/form-data">
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile
                                            Image</label>
                                        <div class="col-md-8 col-lg-9">
                                        
                                            <img src="{{ url_for('static',filename=account.profile) }}" alt="Profile">
                                          
                                            <div class="my-2 rounded-pill">
                                      
                                          </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                      <label for="newname" class="col-md-4 col-lg-3 col-form-label">New Name</label>
                                      <div class="col-md-8 col-lg-9">
                                        <input 
                                        type="file" 
                                        id="avatar"
                                        name="profile_img" 
                                        accept="image/png, image/jpeg, image/jpg"
                                        placeholder="file"
                                        style="margin-top: 10px;"
                                      > 
                                      </div>
                                  </div>



                                    <div class="row mb-3">
                                        <label for="newname" class="col-md-4 col-lg-3 col-form-label">New Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newname" type="text" class="form-control" id="fullName"
                                                placeholder="Eg: Upper Moon">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email"
                                                placeholder="Eg: user@gmail.com">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form  method="POST" action="{{url_for('changepassword',user_id=session['id'])}}">

                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control"
                                                id="currentPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control"
                                                id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control"
                                                id="renewPassword">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>UpperMoon</span></strong>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

            <!-- <script src="{{url_for('static',filename='vendor/apexcharts/apexcharts.min.js')}}"></script> -->
            <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <!-- <script src="{{url_for('static',filename='vendor/chart.js/chart.umd.js')}}"></script>
            <script src="{{url_for('static',filename='vendor/echarts/echarts.min.js')}}"></script>
            <script src="{{url_for('static',filename='vendor/quill/quill.min.js')}}"></script>
            <script src="{{url_for('static',filename='vendor/simple-datatables/simple-datatables.js')}}"></script>
            <script src="{{url_for('static',filename='vendor/tinymce/tinymce.min.js')}}"></script> -->
            <script src="{{url_for('static',filename='vendor/php-email-form/validate.js')}}"></script>
          
            <!-- Template Main JS File -->
            <script src="{{url_for('static',filename='js/main.js')}}"></script>



            {% with messages = get_flashed_messages() %}  
            {% if messages %}  
                  {% for message in messages %}  
                       <script>
                         alert("{{message}}");
                       </script>
                  {% endfor %}  
            {% endif %}  
         {% endwith %}  
</body>

</html>